<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SearchDataSPM.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SearchDataSPM.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SearchDataSPM.Properties.Settings.cn" connectionString="Data Source=spm-sql;Initial Catalog=SPM_Database;User ID=SPM_Agent;password=spm5445"
      providerName="System.Data.SqlClient"/>
    <add name="SearchDataSPM.Properties.Settings.cntrlscn"
      connectionString="Data Source=spm-sql;Initial Catalog=SPMControlCatalog;User ID=SPM_Controls;password=eyBzJehFP*uO"/>
    <add name="SPM_DatabaseEntities"
      connectionString="metadata=res://*/ConnectCustomers.csdl|res://*/ConnectCustomers.ssdl|res://*/ConnectCustomers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="SPM_DatabaseEntities1"
      connectionString="metadata=res://*/ConnectMaterials.csdl|res://*/ConnectMaterials.ssdl|res://*/ConnectMaterials.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="SPM_DatabaseEntitiesPurchase"
      connectionString="metadata=res://*/ConnectPurchaseReqDet.csdl|res://*/ConnectPurchaseReqDet.ssdl|res://*/ConnectPurchaseReqDet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="ItemsEntities"
      connectionString="metadata=res://*/Items.csdl|res://*/Items.ssdl|res://*/Items.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <SearchDataSPM.Properties.Settings>
      <setting name="F1State" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="F1Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="F1Size" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </SearchDataSPM.Properties.Settings>
  </userSettings>
  <log4net>
    <root>
      <level value="ALL"></level>
      <appender-ref ref="AdoNetAppender"></appender-ref>
    </root>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=spm-sql;Initial Catalog=SPM_Database;User ID=SPM_Agent;password=spm5445"/>
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SearchDataSPM.Properties.Settings>
      <setting name="SPM_Connect_RS2005_ReportingService2005" serializeAs="String">
        <value>http://spm-sql:80/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="SPM_Connect_RE2005_ReportExecutionService" serializeAs="String">
        <value>http://spm-sql:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </SearchDataSPM.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
</configuration>