<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SearchDataSPM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SearchDataSPM.Properties.Settings.cn" connectionString="Data Source=spm-sql;Initial Catalog=SPM_Database;User ID=SPM_Agent;password=spm5445" providerName="System.Data.SqlClient" />
    <add name="SearchDataSPM.Properties.Settings.cntrlscn" connectionString="Data Source=spm-sql;Initial Catalog=SPMControlCatalog;User ID=SPM_Controls;password=eyBzJehFP*uO" />
    <add name="SPM_DatabaseEntities" connectionString="metadata=res://*/ConnectCustomers.csdl|res://*/ConnectCustomers.ssdl|res://*/ConnectCustomers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SPM_DatabaseEntities1" connectionString="metadata=res://*/ConnectMaterials.csdl|res://*/ConnectMaterials.ssdl|res://*/ConnectMaterials.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SPM_DatabaseEntitiesPurchase" connectionString="metadata=res://*/ConnectPurchaseReqDet.csdl|res://*/ConnectPurchaseReqDet.ssdl|res://*/ConnectPurchaseReqDet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spm-sql;initial catalog=SPM_Database;persist security info=True;user id=SPM_Agent;password=spm5445;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <SearchDataSPM.Properties.Settings>
      <setting name="CheckBox" serializeAs="String">
        <value>False</value>
      </setting>
    </SearchDataSPM.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>