<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1404.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
</packages>